@model IEnumerable<HRINTERNSHIP.Models.Employee>

@{
    ViewBag.Title = "Manajement Staff";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
        <!--begin::Page title-->
        <div data-kt-swapper="true" data-kt-swapper-mode="prepend"
             data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}"
             class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
            <!--begin::Title-->
            <h1 class="d-flex align-items-center text-dark fw-bolder fs-3 my-1">
                Dashboard
                <!--begin::Separator-->
                <span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
                <!--end::Separator-->
                <!--begin::Description-->
                <small class="text-muted fs-7 fw-bold my-1 ms-1">@ViewBag.title</small>
                <!--end::Description-->
            </h1>
            <!--end::Title-->
        </div>
        <!--end::Page title-->  
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
    <!--begin::Container-->
    <div id="kt_content_container" class="container-xxl">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        @*<p>
                            @Html.ActionLink("Create New", "Create")
                        </p>*@
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table-staff">
                                <thead>
                                    <tr>
                                        <th class="text-center hide">########</th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMCMPY)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMNAME)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMSEXT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMCOMM)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ENDCONT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.OLDOCONT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMEMST)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMJOBA)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMDEPT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMLOC)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMJOBD)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMSUP_)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.SUPNAME)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMBIRT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMMRST)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMRELI)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMGRAD)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMHTLC)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMBUSR)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMBUSS)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMBUSL)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMASN)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMWKHR)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMITST)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMBEDU)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMPAYT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMADD1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMADD2)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMADD3)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMEMAD)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMUNIO)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMUSID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMITAX)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMSTAT)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMTERM)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMTREF)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PHONE)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EMAIL)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TOTALHOURS)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.TOTALYEARS)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DETAILWORKEXPERIENCE)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FIRST_NAME)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LAST_NAME)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.PSID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.BUS_ROUTE)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.EOC)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LABEL_1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LABEL_2)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.LABEL_3)
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="hide">
                                                <a href="#" class="btn btn-sm btn-light btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                                    Actions
                                                    <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                                    <span class="svg-icon svg-icon-5 m-0">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                            <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                                        </svg>
                                                    </span>
                                                    <!--end::Svg Icon-->
                                                </a>
                                                <!--begin::Menu-->
                                                <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        @Html.ActionLink("Edit", "Edit", new { id = item.EMEMP })
                                                    </div>
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        @Html.ActionLink("Delete", "Delete", new { id = item.EMEMP })
                                                    </div>
                                                    <!--end::Menu item-->
                                                    <!--begin::Menu item-->
                                                    <div class="menu-item px-3">
                                                        @Html.ActionLink("Details", "Details", new { id = item.EMEMP })
                                                    </div>
                                                    <!--end::Menu item-->
                                                </div>
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMCMPY)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMNAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMSEXT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMCOMM)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ENDCONT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.OLDOCONT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMEMST)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMJOBA)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMDEPT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMLOC)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMJOBD)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMSUP_)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SUPNAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMBIRT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMMRST)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMRELI)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMGRAD)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMHTLC)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMBUSR)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMBUSS)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMBUSL)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMASN)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMWKHR)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMITST)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMBEDU)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMPAYT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMADD1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMADD2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMADD3)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMEMAD)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMUNIO)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMUSID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMITAX)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMSTAT)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMTERM)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMTREF)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PHONE)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EMAIL)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TOTALHOURS)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TOTALYEARS)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DETAILWORKEXPERIENCE)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FIRST_NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LAST_NAME)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PSID)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BUS_ROUTE)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.EOC)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LABEL_1)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LABEL_2)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LABEL_3)
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end::Container-->
</div>
<!--end::Post-->


